.blog-post {
  &--abstract {
    cursor: pointer;
  }

  &--highlight {
    .blog-post__title {
      font-size: 3em;
    }
    .blog-post__body {
      font-size: 1.2em;
    }
  }

  &__body {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
