<div class="container-fluid main-nav">
  <header>
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-6 text-start">
            <ul class="left-side">
              <li>
                <a class="h3" ui-sref="home" href="#" rel="nofollow">Home</a>
              </li>
            </ul>
          </div>
          <div class="col-6 text-end">
            <ul class="right-side">
              <li>
                <a class="h3" ui-sref="adminPosts" href="#" rel="nofollow"
                  >Admin</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
